
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
 

body{
   font-family: "JetBrains Mono", monospace;
}



 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'JetBrains Mono', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  max-width: 100%;
  overflow-x: hidden;
}