@import "./variables.css";

body {
  background: #ffffff;
  color: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}